h3 {
  font-size: 15px;
}
button {
  border-radius: 18px;
  text-shadow: 2px 5px 8px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  background: teal;
  padding: 14px 20px 14px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.pageTitle {
  width: 100%;
  margin: auto;
  color: black;
  text-align:center;
  background-color: teal;
  font-size: 30px;
}

.featured {
  width: 80%;
  margin: auto;
  color: black;
  padding-top: 75px
}
.movies {
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 46px;
}

.movie {
  display: inline-block;
  margin: 0px 25px 10px 25px;
  border: 2px double black;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

.right {
  text-align: right;
}


.leftBut {
  position: fixed;
  top: 244px;
  left: 130px;
}

.prevBtn {

}

.rightBut {
  position: fixed;
  top:244px;
  right: 130px;
  text-align: right;
}

.nextBtn {

}

.displayName {
  width: 40%;
  margin: auto;
  font-size: 25px;
  text-align:center;
  background-color: teal;
  border: 2px double black;
  border-radius: 18%

}
